<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculo I - Aplicaciones de la Derivada</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <link rel="shortcut icon" href="../imgs/calculo.ico" type="image/x-icon">
</head>

<body>
    <div class="menu">
        <a href="https://es.wikipedia.org/wiki/C%C3%A1lculo" id="calculo" target="_blank">Cálculo I</a>
        <ul>
            <li><a href="../../index.html">Inicio <i class="fas fa-home"></i></a></li>
            <li><a href="limits_2_1.html">2. Límite <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="limits_2_1.html">2.1 Límite Enfoque Informal</a></li>
                    <li><a href="limits_2_2.html">2.2 Teoremas Sobre Límites</a></li>
                    <li><a href="limits_2_3.html">2.3 Continuidad</a></li>
                    <li><a href="limits_2_4.html">2.4 Límites Trigonométricos</a></li>
                    <li><a href="limits_2_5.html">2.5 Límites con Infinito</a></li>
                    <li><a href="limits_2_6.html">2.6 Límites Enfoque Formal</a></li>
                    <li><a href="limits_2_7.html">2.7 La Recta Tangente</a></li>
                </ul>
            </li>
            <li><a href="derivaties_3_1.html">3. Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="derivaties_3_1.html">3.1 La Derivada</a></li>
                    <li><a href="derivaties_3_2.html">3.2 Reglas de Potencia y Suma</a></li>
                    <li><a href="derivaties_3_3.html">3.3 Reglas de Producto y Cociente</a></li>
                    <li><a href="derivaties_3_4.html">3.4 Funciones Trigonometricas</a></li>
                    <li><a href="derivaties_3_5.html">3.5 Regla de la Cadena</a></li>
                    <li><a href="derivaties_3_6.html">3.6 Diferencia Implícita</a></li>
                    <li><a href="derivaties_3_7.html">3.7 Derivadas de Función Inversas</a></li>
                    <li><a href="derivaties_3_8.html">3.8 Funciones Exponenciales</a></li>
                    <li><a href="derivaties_3_9.html">3.9 Funciones Logaritmicas</a></li>
                    <li><a href="derivaties_3_10.html">3.10  Funciones Hiperbólicas</a></li>
                </ul>
            </li>
            <li><a href="aplications_4_1.html">4. Aplicaciones de la Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="aplications_4_1.html">4.1 Movimiento Rectilíneo</a></li>
                    <li><a href="aplications_4_2.html">4.2 Razones de Cambio Relacionadas</a></li>
                    <li><a href="aplications_4_3.html">4.3 Extremos de Funciones</a></li>
                    <li><a href="aplications_4_4.html">4.4 Teorema del Valor Medio</a></li>
                    <li><a href="aplications_4_5.html">4.5 Regla de L´Hopital</a></li>
                    <li><a href="aplications_4_6.html">4.6 Gráficas y la Primera Derivada</a></li>
                    <li><a href="aplications_4_7.html">4.7 Gráficas y la Segunda Derivada</a></li>
                    <li><a href="aplications_4_8.html">4.8 Optimización</a></li>
                    <li><a href="#">4.9 Linealización y Diferenciales</a></li>
                    <li><a href="aplications_4_10.html">4.10 Método de Newton</a></li>
                </ul>
            </li>
            <li><a href="">Ayuda <i class="fas fa-chevron-down"></i> </i></a>
                <ul class="submenu">
                    <li><a href="../../tools.html">Herramientas <i class="fas fa-tools"></i></a></li>
                    <li><a href="../../help.html">¿Cómo Usar el Sitio Web? <i class="fas fa-question-circle"></i></a></li>
                </ul>
            </li>
            <li><a href="../../about_us.html">Sobre Nosotros <i class="fas fa-users"></i></a></li>
        </ul>
    </div>
    <div class="container_menu_lateral">
        <div class="menuLateral">
            <h1 class="titleL">Aplicaciones</h1>
            <a href="aplications_4_1.html">4.1 Movimiento Rectilíneo</a>
            <a href="aplications_4_2.html">4.2 Razones de Cambio</a>
            <a href="aplications_4_3.html">4.3 Extremos de Funciones</a>
            <a href="aplications_4_4.html">4.4 Teorema del Valor Medio</a>
            <a href="aplications_4_5.html">4.5 Regla de L´Hopital</a>
            <a href="aplications_4_6.html">4.6 Gráficas y la Primera Derivada</a>
            <a href="aplications_4_7.html">4.7 Gráficas y la Segunda Derivada</a>
            <a href="aplications_4_8.html">4.8 Optimización</a>
            <a href="#">4.9 Linealización y Diferenciales</a>
            <a href="aplications_4_10.html">4.10 Método de Newton</a>
        </div>
        <!-- Botones -->
        <div class="btn_previous">
            <a href="aplications_4_8.html"><i class="fas fa-chevron-left"></i>   Anterior </a>
        </div>
        <div class="btn_next">
            <a href="aplications_4_10.html"> Siguiente  <i class="fas fa-chevron-right"></i> </a>
        </div>
        <div class="btn_ejemplos">
            <a href="practice/ejercicios4_9.html" target="_blank">Ejemplos  <i class="fas fa-calculator"></i></a>
        </div>
    </div>
    <div class="contenidoLimites">
        <h1>4.9 Linealización y Diferenciales </h1>
        <p class="txtInfo">
            Utilice diferenciales para estimar el máximo error en el volumen calculado del cono. La linealización es el proceso por el cual se encuentra la aproximación lineal a una función en un punto dado. La linealización de una función al mismo tiempo está definiendo
            la ecuación del plano tangente a la superficie en el punto.
        </p><br>
        <img src="../imgs/imgs_info/definicion4.9.1.png" alt="definicion4.9.1" class="imgs_info"><br>
        <img src="../imgs/imgs_info/4.9.png" alt="" class="imgs_grafic"><br>
        <p>
            <h2>Diferenciales</h2>
        </p>
        <p>La idea fundamental de linealización de una función originalmente fue expresa en la terminología de <b>diferenciales.</b> Suponga que <b> y = f(x)</b> es una función diferenciable en un intervalo abierto que contiene al número <b>a </b>. Si <b>x1</b>            es un número diferente sobre el eje <b> x</b>, entonces los <b> incrementos</b> <b>Δx y Δy</b> son las diferencias.</p>
        <p><b>Δx = x1 - a</b> y <b>Δy = f(x1) - f(a).</b></p><br>
        <p>Pero ya que <b> x1 = a + Δx</b>, el <b>cambio en la función</b> es</p><br>
        <p><b>Δy = f(a + Δx) - f(a).</b></p><br>
        <p>Para valores de <b>Δx</b> que están próximos a 0, el cociente diferencial </p><br>
        <img src="../imgs/imgs_info/4.9.1.png" width="35% " alt="4.9.1."><br>
        <p>es una aproximación del valor de la derivada de <b>f</b> en <b>a</b>:</p><br>
        <img src="../imgs/imgs_info/4.9.2.png" width="45% " alt="4.9,2"><br>
        <p>Las cantidades <b>Δx</b> y<b> f'(a)Δx diferenciales</b> y se denotan por los símbolos <b> dx/dy</b>, respectivamente. Es decir.</p><br>
        <p><b>Δx = dx </b>y <b>dy = f'(a)dx.</b></p><br>
        <img src="../imgs/imgs_info/definicion4.9.2.png" alt="defincion4.9.2" class="imgs_info">
        <div class="butons-responsive">
            <div class="btn_next-responsive">
                <a href="aplications_4_10.html"> Siguiente  <i class="fas fa-chevron-right"></i> </a>
            </div>
            <div class="btn_previous-responsive">
                <a href="aplications_4_8.html"><i class="fas fa-chevron-left"></i>   Anterior</a>
            </div>
            <div class="btn_ejemplos-responsive">
                <a href="practice/ejercicios4_9.html" target="_blank">Ejemplos  <i class="fas fa-calculator"></i></a>
            </div>
        </div>
    </div>
    <!-- Boton Hamburguersa -->
    <div class="container_menu_responsive">
        <a href="https://es.wikipedia.org/wiki/C%C3%A1lculo" id="calculo" target="_blank">Cálculo I</a>
        <div class="btn_menu">
            <div id="hamburguer_menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- Dependencia de JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- ---------------------- -->
    <script src="../js/main.js"></script>
</body>

</html>