<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculo I - Aplicaciones de la Derivada</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <link rel="shortcut icon" href="../imgs/calculo.ico" type="image/x-icon">
</head>

<body>
    <div class="menu">
        <a href="https://es.wikipedia.org/wiki/C%C3%A1lculo" id="calculo" target="_blank">Cálculo I</a>
        <ul>
            <li><a href="../../index.html">Inicio <i class="fas fa-home"></i></a></li>
            <li><a href="limits_2_1.html">2. Límite <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="limits_2_1.html">2.1 Límite Enfoque Informal</a></li>
                    <li><a href="limits_2_2.html">2.2 Teoremas Sobre Límites</a></li>
                    <li><a href="limits_2_3.html">2.3 Continuidad</a></li>
                    <li><a href="limits_2_4.html">2.4 Límites Trigonométricos</a></li>
                    <li><a href="limits_2_5.html">2.5 Límites con Infinito</a></li>
                    <li><a href="limits_2_6.html">2.6 Límites Enfoque Formal</a></li>
                    <li><a href="limits_2_7.html">2.7 La Recta Tangente</a></li>
                </ul>
            </li>
            <li><a href="derivaties_3_1.html">3. Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="derivaties_3_1.html">3.1 La Derivada</a></li>
                    <li><a href="derivaties_3_2.html">3.2 Reglas de Potencia y Suma</a></li>
                    <li><a href="derivaties_3_3.html">3.3 Reglas de Producto y Cociente</a></li>
                    <li><a href="derivaties_3_4.html">3.4 Funciones Trigonometricas</a></li>
                    <li><a href="derivaties_3_5.html">3.5 Regla de la Cadena</a></li>
                    <li><a href="derivaties_3_6.html">3.6 Diferencia Implícita</a></li>
                    <li><a href="derivaties_3_7.html">3.7 Derivadas de Función Inversas</a></li>
                    <li><a href="derivaties_3_8.html">3.8 Funciones Exponenciales</a></li>
                    <li><a href="derivaties_3_9.html">3.9 Funciones Logaritmicas</a></li>
                    <li><a href="derivaties_3_10.html">3.10  Funciones Hiperbólicas</a></li>
                </ul>
            </li>
            <li><a href="aplications_4_1.html">4. Aplicaciones de la Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="aplications_4_1.html">4.1 Movimiento Rectilíneo</a></li>
                    <li><a href="aplications_4_2.html">4.2 Razones de Cambio Relacionadas</a></li>
                    <li><a href="aplications_4_3.html">4.3 Extremos de Funciones</a></li>
                    <li>
                        <a href="aplications_4_4.html" ">4.4 Teorema del Valor Medio</a></li>
                    <li><a href="# ">4.5 Regla de L´Hopital</a></li>
                    <li><a href="aplications_4_6.html ">4.6 Gráficas y la Primera Derivada</a></li>
                    <li><a href="aplications_4_7.html ">4.7 Gráficas y la Segunda Derivada</a></li>
                    <li><a href="aplications_4_8.html ">4.8 Optimización</a></li>
                    <li><a href="aplications_4_9.html ">4.9 Linealización y Diferenciales</a></li>
                    <li><a href="aplications_4_10.html ">4.10 Método de Newton</a></li>
                </ul>
            </li>            
            <li><a href=" ">Ayuda <i class="fas fa-chevron-down "></i> </i></a>
                <ul class="submenu ">
                    <li><a href="../../tools.html ">Herramientas <i class="fas fa-tools "></i></a></li>
                    <li><a href="../../help.html ">¿Cómo Usar el Sitio Web? <i class="fas fa-question-circle "></i></a></li>
                </ul>
            </li>
            <li><a href="../../about_us.html ">Sobre Nosotros <i class="fas fa-users "></i></a></li>
        </ul>
    </div>  
    <div class="container_menu_lateral ">
        <div class="menuLateral ">
            <h1 class="titleL ">Aplicaciones</h1>
            <a href="aplications_4_1.html ">4.1 Movimiento Rectilíneo</a>
            <a href="aplications_4_2.html ">4.2 Razones de Cambio</a>
            <a href="aplications_4_3.html ">4.3 Extremos de Funciones</a>
            <a href="aplications_4_4.html ">4.4 Teorema del Valor Medio</a>
            <a href="# ">4.5 Regla de L´Hopital</a>
            <a href="aplications_4_6.html ">4.6 Gráficas y la Primera Derivada</a>
            <a href="aplications_4_7.html ">4.7 Gráficas y la Segunda Derivada</a>
            <a href="aplications_4_8.html ">4.8 Optimización</a>
            <a href="aplications_4_9.html ">4.9 Linealización y Diferenciales</a>
            <a href="aplications_4_10.html ">4.10 Método de Newton</a>
        </div>
        <!-- Botones -->
        <div class="btn_previous ">
            <a href="aplications_4_4.html "><i class="fas fa-chevron-left "></i>   Anterior </a>
        </div>
        <div class="btn_next ">
            <a href="aplications_4_6.html "> Siguiente  <i class="fas fa-chevron-right "></i> </a>
        </div>        
        <div class="btn_ejemplos ">
            <a href="practice/ejercicios4_5.html " target="_blank ">Ejemplos  <i class="fas fa-calculator "></i></a>
        </div>
    </div>
    <div class="contenidoLimites ">
        <h1>4.5 Regla de L´hopital </h1>
        <p class="txtInfo ">
            Esta regla recibe su nombre en honor al matemático francés del siglo <b>XVII Guillaume François Antoine, marqués de l'Hôpital (1661 - 1704)</b>, quien dio a conocer la regla en su obra Analyse des infiniment petits pour l'intelligence des lignes courbes <b>(1696)</b>, el primer texto que se ha escrito sobre cálculo diferencial, aunque actualmente se sabe que la regla se debe a <b>Johann Bernoulli</b>, que fue quien la desarrolló y demostró.<br><br>
            Esta idea de límite conduce a la idea derivada de una función. Esta sección se invierte la derivada para poder usarse para calcular ciertos límites con formas indeterminadas.
        </p>
        <h2>Teorema 4.5.1</h2><br>
        <img src="../imgs/imgs_info/teorema4.5.1.png " alt="teorema4.5.1 "><br>
        <h2>Teorema 4.5.2</h2><br>
        <img src="../imgs/imgs_info/teorema4.5.2.png " alt="teorema4.5.2 "><br><br>
        <h2>4.5.1 Demostración del caso 0/0</h2><br>
        <img src="../imgs/imgs_info/4.5.1.1.png " alt="4.5.1.1 " width="40% "><br>
        <p>También puede asmirse que <b>f(a) = 0.</b> Concluimos que <b>f</b> y <b>g</b> son continuas en <b>a</b>. Además, puesto que <b>f</b> y <b>g</b> son diferenciales, éstas son continuas sobre los intervalos abiertos <b>(r, a)</b> y <b>(a, s)</b>. En consecuencia, <b>f</b> y <b>g </b>son continuas en el intervalo <b>(r ,s)</b>. Luego, para cualquier <b>x ≠ a</b> en el intervalo, el teorema 4.5.1 es aplicable <b>a [x, a]</b> o <b>[a, x]</b>. En cualquier caso, entre <b>x</b> y <b>a</b> existe un número <b>c</b> tal que.</p><br>
        <img src="../imgs/imgs_info/4.5.1.2.png " width="30% "alt="4.5.1.2 "><br>
        <p>Al hacer <b>x --> a</b> implica <b> c --> a</b>. y entonces</p><br>
        <img src="../imgs/imgs_info/4.5.1.3.png " width="40% "alt="4.5.1.3 ">
    </div>
</body>
</html>