<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculo I - Derivadas</title>
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../imgs/calculo.ico" type="image/x-icon">
</head>

<body>
    <div class="menu">
        <a href="https://es.wikipedia.org/wiki/C%C3%A1lculo" id="calculo" target="_blank">Cálculo I</a>
        <ul>
            <li><a href="../../index.html">Inicio <i class="fas fa-home"></i></a></li>
            <li><a href="limits_2_1.html">2. Límite <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="limits_2_1.html">2.1 Límite Enfoque Informal</a></li>
                    <li><a href="limits_2_2.html">2.2 Teoremas Sobre Límites</a></li>
                    <li><a href="limits_2_3.html">2.3 Continuidad</a></li>
                    <li><a href="limits_2_4.html">2.4 Límites Trigonométricos</a></li>
                    <li><a href="limits_2_5.html">2.5 Límites con Infinito</a></li>
                    <li><a href="limits_2_6.html">2.6 Límites Enfoque Formal</a></li>
                    <li><a href="limits_2_7.html">2.7 La Recta Tangente</a></li>
                </ul>
            </li>
            <li><a href="#">3. Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="derivaties_3_1.html">3.1 La Derivada</a></li>
                    <li><a href="derivaties_3_2.html">3.2 Reglas de Potencia y Suma</a></li>
                    <li><a href="derivaties_3_3.html">3.3 Reglas de Producto y Cociente</a></li>
                    <li><a href="derivaties_3_4.html">3.4 Funciones Trigonometricas</a></li>
                    <li><a href="derivaties_3_5.html">3.5 Regla de la Cadena</a></li>
                    <li><a href="derivaties_3_6.html">3.6 Diferencia Implícita</a></li>
                    <li><a href="derivaties_3_7.html">3.7 Derivadas de Función Inversas</a></li>
                    <li><a href="derivaties_3_8.html">3.8 Funciones Exponenciales</a></li>
                    <li><a href="derivaties_3_9.html">3.9 Funciones Logaritmicas</a></li>
                    <li><a href="#">3.10  Funciones Hiperbólicas</a></li>
                </ul>
            </li>
            <li><a href="aplications_4_1.html">4. Aplicaciones de la Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="aplications_4_1.html">4.1 Movimiento Rectilíneo</a></li>
                    <li><a href="aplications_4_2.html">4.2 Razones de Cambio Relacionadas</a></li>
                    <li><a href="aplications_4_3.html">4.3 Extremos de Funciones</a></li>
                    <li><a href="aplications_4_4.html">4.4 Teorema del Valor Medio</a></li>
                    <li><a href="aplications_4_5.html">4.5 Regla de L´Hopital</a></li>
                    <li><a href="aplications_4_6.html">4.6 Gráficas y la Primera Derivada</a></li>
                    <li><a href="aplications_4_7.html">4.7 Gráficas y la Segunda Derivada</a></li>
                    <li><a href="aplications_4_8.html">4.8 Optimización</a></li>
                    <li><a href="aplications_4_9.html">4.9 Linealización y Diferenciales</a></li>
                    <li><a href="aplications_4_10.html">4.10 Método de Newton</a></li>
                </ul>
            </li>
            <li><a href="">Ayuda <i class="fas fa-chevron-down"></i> </i></a>
                <ul class="submenu">
                    <li><a href="../../tools.html">Herramientas <i class="fas fa-tools"></i></a></li>
                    <li><a href="../../help.html">¿Cómo Usar el Sitio Web? <i class="fas fa-question-circle"></i></a></li>
                </ul>
            </li>
            <li><a href="../../about_us.html">Sobre Nosotros <i class="fas fa-users"></i></a></li>
        </ul>
    </div>
    <div class="container_menu_lateral">
        <div class="menuLateral">
            <h1 class="titleL">Derivadas</h1>
            <a href="derivaties_3_1.html">3.1 La Derivada</a>
            <a href="derivaties_3_2.html">3.2 Reglas de Potencia y Suma</a>
            <a href="derivaties_3_3.html">3.3 Reglas de Producto y Cociente</a>
            <a href="derivaties_3_4.html">3.4 Funciones Trigonometricas</a>
            <a href="derivaties_3_5.html">3.5 Regla de la Cadena</a>
            <a href="derivaties_3_6.html">3.6 Diferenciación Implicita</a>
            <a href="derivaties_3_7.html">3.7 Derivadas de Función Inversas</a>
            <a href="derivaties_3_8.html">3.8 Funciones Exponenciales</a>
            <a href="derivaties_3_9.html">3.9 Funciones Logaritmicas</a>
            <a href="#">3.10  Funciones Hiperbólicas</a>
        </div>
        <!-- Botones -->
        <div class="btn_previous">
            <a href="derivaties_3_9.html"><i class="fas fa-chevron-left"></i>   Anterior</a>
        </div>
        <div class="btn_next">
            <a href="aplications_4_1.html"> Siguiente <i class="fas fa-chevron-right"></i> </a>
        </div>
        <div class="btn_ejemplos">
            <a href="practice/ejercicios3_10.html" target="_blank">Ejemplos  <i class="fas fa-calculator"></i></a>
        </div>
    </div>
    <div class="contenidoLimites">
        <h1>3.10 Hiperbólicas </h1>
        <p class="txtInfo">Las funciones hiperbólicas son un conjunto de funciones con definiciones y algunas propiedades que son semejantes al conjunto de funciones trigonométricas. Pero, las funciones hiperbólicas son funciones exponenciales y, por lo tanto, no son periódicas.
            Son útiles para describir fenómenos físicos (por ejemplo, velocidad de las olas o el movimiento de un objeto en un fluido) por su conveniencia al resolver ecuaciones diferenciales. Las funciones hiperbólicas fueron importantes para la Teoría
            de la Relatividad Especial de Einstein en las ecuaciones de transformación relacionadas a diferentes marcos de referencia. Además, algunas funciones hiperbólicas son útiles al describir la forma y características de la forma física de un cable
            de alta tensión, o de un collar, o la arquitectura de algunas estructuras conocidas.
        </p>
        <br>
        <img src="../imgs/imgs_info/definicion10.1.png" alt="Definicion 10.1" class="imgs_info">
        <img src="../imgs/imgs_info/definicion10.2.png" alt="Definicion 10.2" class="imgs_info">
        <br>
        <p>
            Las gráficas del seno hiperbólico y del coseno hiperbólico se proporcionan a continuación:
        </p>
        <img src="../imgs/imgs_info/graficos3.10.png" alt="Graficos" class="imgs_info"><br>
        <h2 class="subtitleInfo">Teorema 3.10.1</h2>
        <img src="../imgs/imgs_info/teorema3.10.1.png" alt="teorema3.10.1" class="imgs_info"><br>
        <h2 class="subtitleInfo">Teorema 3.10.2</h2>
        <img src="../imgs/imgs_info/teorema3.10.2.png" alt="teorema3.10.2" class="imgs_info"><br>
        <h2>3.10.1 Funciones Hiperbólicas Inversas</h2><br>
        <p>
            Las funciones hiperbólicas inversas son las funciones inversas de las funciones hiperbólicas. Las funciones hiperbólicas aparecen en los cálculos de ángulos y distancias en geometría hiperbólica.<br><br> Una función tiene una inversa si es
            de uno a uno. Todas las funciones hiperbólicas excepto <b>cos x</b> son funciones de uno a uno y por lo tanto tienen una inversa. Como las funciones trigonométricas, una inversa se puede definir como <b>cos x</b> restringiendo su dominio para
            que sea de uno a uno.
        </p>
        <br>
        <img src="../imgs/imgs_info/graficos3.10.1.png" alt="graficos" class="imgs_info"><br><br>
        <img src="../imgs/imgs_info/3.10.1.png" alt="3.10.1" class="imgs_info"><br>
        <p>Devido a que la última ecuación es cuadrática en e <sup>y</sup>, la fórmula cuadrática proporciona</p>
        <img src="../imgs/imgs_info/3.10.2.png" alt="3.10.2" class="imgs_info"><br>
        <p>Luego, es necesario rechazar la solución correspondiente al signo menos en por que e <sup> y </sup>> 0 pero <b>x - &#8730 x <sup>2</sup>+ 1</b> 0. Así tenemos: </p><br>
        <p><b>e <sup> y </sup> = x + &#8730 x <sub>2</sub> + 1</b> o bien, <b></b></p>
        <img src="../imgs/imgs_info/teorema3.10.3.png" alt="teorema3.10.3" class="imgs_info"><br>
        <h2 class="subtitleInfo">Teorema 3.10.4</h2>
        <img src="../imgs/imgs_info/teorema3.10.4.png" alt="teorema3.10.4" class="imgs_info"><br>
    </div>
</body>

</html>