<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculo I - Derivadas</title>
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../imgs/calculo.ico" type="image/x-icon">
</head>

<body>
    <div class="menu">
        <a href="https://es.wikipedia.org/wiki/C%C3%A1lculo" id="calculo" target="_blank">Cálculo I</a>
        <ul>
            <li><a href="../../index.html">Inicio <i class="fas fa-home"></i></a></li>
            <li><a href="limits_2_1.html">2. Límite <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="limits_2_1.html">2.1 Límite Enfoque Informal</a></li>
                    <li><a href="limits_2_2.html">2.2 Teoremas Sobre Límites</a></li>
                    <li><a href="limits_2_3.html">2.3 Continuidad</a></li>
                    <li><a href="limits_2_4.html">2.4 Límites Trigonométricos</a></li>
                    <li><a href="limits_2_5.html">2.5 Límites con Infinito</a></li>
                    <li><a href="limits_2_6.html">2.6 Límites Enfoque Formal</a></li>
                    <li><a href="limits_2_7.html">2.7 La Recta Tangente</a></li>
                </ul>
            </li>
            <li><a href="#">3. Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="#">3.1 La Derivada</a></li>
                    <li><a href="derivaties_3_2.html">3.2 Reglas de Potencia y Suma</a></li>
                    <li><a href="derivaties_3_3.html">3.3 Reglas de Producto y Cociente</a></li>
                    <li><a href="derivaties_3_4.html">3.4 Funciones Trigonometricas</a></li>
                    <li><a href="derivaties_3_5.html">3.5 Regla de la Cadena</a></li>
                    <li><a href="derivaties_3_6.html">3.6 Diferencia Implícita</a></li>
                </ul>
            </li>
            <li><a href="aplications_4_1.html">4. Aplicaciones de la Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="aplications_4_1.html">4.1 Movimiento Rectilíneo</a></li>
                    <li><a href="aplications_4_2.html">4.2 Razones de Cambio Relacionadas</a></li>
                    <li><a href="aplications_4_3.html">4.3 Extremos de Funciones</a></li>
                    <li><a href="aplications_4_4.html">4.4 Teorema del Valor Medio</a></li>
                    <li><a href="aplications_4_5.html">4.5 Regla de L´Hopital</a></li>
                    <li><a href="aplications_4_6.html">4.6 Gráficas y la Primera Derivada</a></li>
                    <li><a href="aplications_4_7.html">4.7 Gráficas y la Segunda Derivada</a></li>
                    <li><a href="aplications_4_8.html">4.8 Optimización</a></li>
                    <li><a href="aplications_4_9.html">4.9 Linealización y Diferenciales</a></li>
                    <li><a href="aplications_4_10.html">4.10 Método de Newton</a></li>
                </ul>
            </li>
            <li><a href="">Ayuda <i class="fas fa-chevron-down"></i> </i></a>
                <ul class="submenu">
                    <li><a href="../../tools.html">Herramientas <i class="fas fa-tools"></i></a></li>
                    <li><a href="../../help.html">¿Cómo Usar el Sitio Web? <i class="fas fa-question-circle"></i></a></li>
                </ul>
            </li>
            <li><a href="../../about_us.html">Sobre Nosotros <i class="fas fa-users"></i></a></li>
        </ul>
    </div>
    <div class="container_menu_lateral">
        <div class="menuLateral">
            <h1 class="titleL">Derivadas</h1>
            <a href="#">3.1 La Derivada</a>
            <a href="derivaties_3_2.html">3.2 Reglas de Potencia y Suma</a>
            <a href="derivaties_3_3.html">3.3 Reglas de Producto y Cociente</a>
            <a href="derivaties_3_4.html">3.4 Funciones Trigonometricas</a>
            <a href="derivaties_3_5.html">3.5 Regla de la Cadena</a>
            <a href="derivaties_3_6.html">3.6 Diferenciación Implicita</a>
        </div>
        <!-- Botones -->
        <div class="btn_previous">
            <a href="limits_2_7.html"><i class="fas fa-chevron-left"></i>   Límite</a>
        </div>
        <div class="btn_next">
            <a href="derivaties_3_2.html"> Siguiente  <i class="fas fa-chevron-right"></i> </a>
        </div>
        <div class="btn_ejemplos">
            <a href="practice/ejercicios3_1.html" target="_blank">Ejemplos  <i class="fas fa-calculator"></i></a>
        </div>
    </div>
    <div class="contenidoLimites">
        <h1>3.1 La Derivada </h1>
        <p class="txtInfo">La derivada de una función es la razón de cambio instantánea con la que varía el valor de dicha función matemática, según se modifique el valor de su variable independiente. La derivada de una función es un concepto local, es decir, se calcula
            como el límite de la rapidez de cambio media de la función en cierto intervalo, cuando el intervalo considerado para la variable independiente se torna cada vez más pequeño. Por eso se habla del valor de la derivada de una función en un punto
            dado.
        </p>
        <img src="../imgs/imgs_info/definicion3.1.1.png" alt="Definicion 3.1.1" class="imgs_info">
        <br>
        <h2 class="subtitleInfo">3.1.1 Diferenciabilidad </h2>
        <p class="txtInfo">Si el limite en (2) existe para un numero <b>X</b> dado en el dominio de <b>f</b>, se dice que la función es diferenciable en <b>X</b>. Si una función <b>f</b> es diferenciable en todo numero <b>X</b> en los intervalos abiertos <b>(a, b), (- q, b)</b>            y <b>(a, q)</b>, entonces <b>f</b> es diferenciable sobre el intervalor abierto.
        </p>
        <br><img src="../imgs/imgs_info/3.1.2.png" alt="Derivada Segun Limites" class="imgs_info"></br>
        <h2 class="subtitleInfo">Teorema 3.1.1 </h2>
        <img src="../imgs/imgs_info/teorema3.1.1.png" alt="Teorema 3.1.1" class="imgs_info">
    </div>
</body>

</html>