<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculo I - Derivadas</title>
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../imgs/calculo.ico" type="image/x-icon">
</head>

<body>
    <div class="menu">
        <a href="https://es.wikipedia.org/wiki/C%C3%A1lculo" id="calculo" target="_blank">Cálculo I</a>
        <ul>
            <li><a href="../../index.html">Inicio <i class="fas fa-home"></i></a></li>
            <li><a href="limits_2_1.html">2. Límite <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="limits_2_1.html">2.1 Límite Enfoque Informal</a></li>
                    <li><a href="limits_2_2.html">2.2 Teoremas Sobre Límites</a></li>
                    <li><a href="limits_2_3.html">2.3 Continuidad</a></li>
                    <li><a href="limits_2_4.html">2.4 Límites Trigonométricos</a></li>
                    <li><a href="limits_2_5.html">2.5 Límites con Infinito</a></li>
                    <li><a href="limits_2_6.html">2.6 Límites Enfoque Formal</a></li>
                    <li><a href="limits_2_7.html">2.7 La Recta Tangente</a></li>
                </ul>
            </li>
            <li><a href="derivaties_3_1.html">3. Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="derivaties_3_1.html">3.1 La Derivada</a></li>
                    <li><a href="derivaties_3_2.html">3.2 Reglas de Potencia y Suma</a></li>
                    <li><a href="#">3.3 Reglas de Producto y Cociente</a></li>
                    <li><a href="derivaties_3_4.html">3.4 Funciones Trigonometricas</a></li>
                    <li><a href="derivaties_3_5.html">3.5 Regla de la Cadena</a></li>
                    <li><a href="derivaties_3_6.html">3.6 Diferencia Implícita</a></li>
                </ul>
            </li>
            <li><a href="aplications_4_1.html">4. Aplicaciones de la Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="aplications_4_1.html">4.1 Movimiento Rectilíneo</a></li>
                    <li><a href="aplications_4_2.html">4.2 Razones de Cambio Relacionadas</a></li>
                    <li><a href="aplications_4_3.html">4.3 Extremos de Funciones</a></li>
                    <li><a href="aplications_4_4.html">4.4 Teorema del Valor Medio</a></li>
                    <li><a href="aplications_4_5.html">4.5 Regla de L´Hopital</a></li>
                    <li><a href="aplications_4_6.html">4.6 Gráficas y la Primera Derivada</a></li>
                    <li><a href="aplications_4_7.html">4.7 Gráficas y la Segunda Derivada</a></li>
                    <li><a href="aplications_4_8.html">4.8 Optimización</a></li>
                    <li><a href="aplications_4_9.html">4.9 Linealización y Diferenciales</a></li>
                    <li><a href="aplications_4_10.html">4.10 Método de Newton</a></li>
                </ul>
            </li>
            <li><a href="">Ayuda<i class="fas fa-chevron-down"></i> </i></a>
                <ul class="submenu">
                    <li><a href="../../tools.html">Herramientas <i class="fas fa-tools"></i></a></li>
                    <li><a href="../../help.html">Manual de Usuario <i class="fas fa-book"></i></a></li>
                </ul>
            </li>
            <li><a href="../../about_us.html">Sobre Nosotros <i class="fas fa-users"></i></a></li>
        </ul>
    </div>
    <div class="menuLateral">
        <h1 class="titleL">Derivadas</h1>
        <a href="derivaties_3_1.html">3.1 La Derivada</a>
        <a href="derivaties_3_2.html">3.2 Reglas de Potencia y Suma</a>
        <a href="#">3.3 Reglas de Producto y Cociente</a>
        <a href="derivaties_3_4.html">3.4 Funciones Trigonometricas</a>
        <a href="derivaties_3_5.html">3.5 Regla de la Cadena</a>
        <a href="derivaties_3_6.html">3.6 Diferenciación Implicita</a>
    </div>
    <div class="contenidoLimites">
        <h1>3.3 Reglas de Producto y Cociente </h1>
        <a href="practice/ejercicios3_3.html" target="_blank">EJEMPLOS</a>
    </div>


</body>

</html>