<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo I - Límites</title>
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../imgs/calculo.ico" type="image/x-icon">
</head>

<body>
    <div class="menu">
        <a href="https://es.wikipedia.org/wiki/C%C3%A1lculo" id="calculo" target="_blank">Cálculo I</a>
        <ul>
            <li><a href="../../index.html">Inicio <i class="fas fa-home"></i></a></li>
            <li><a href="limits_2_1.html">2. Límite <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="limits_2_1.html">2.1 Límite Enfoque Informal</a></li>
                    <li><a href="limits_2_2.html">2.2 Teoremas Sobre Límites</a></li>
                    <li><a href="#">2.3 Continuidad</a></li>
                    <li><a href="limits_2_4.html">2.4 Límites Trigonométricos</a></li>
                    <li><a href="limits_2_5.html">2.5 Límites con Infinito</a></li>
                    <li><a href="limits_2_6.html">2.6 Límites Enfoque Formal</a></li>
                    <li><a href="limits_2_7.html">2.7 La Recta Tangente</a></li>
                </ul>
            </li>
            <li><a href="derivaties_3_1.html">3. Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="derivaties_3_1.html">3.1 La Derivada</a></li>
                    <li><a href="derivaties_3_2.html">3.2 Reglas de Potencia y Suma</a></li>
                    <li><a href="derivaties_3_3.html">3.3 Reglas de Producto y Cociente</a></li>
                    <li><a href="derivaties_3_4.html">3.4 Funciones Trigonometricas</a></li>
                    <li><a href="derivaties_3_5.html">3.5 Regla de la Cadena</a></li>
                    <li><a href="derivaties_3_6.html">3.6 Diferencia Implícita</a></li>
                </ul>
            </li>
            <li><a href="aplications_4_1.html">4. Aplicaciones de la Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="aplications_4_1.html">4.1 Movimiento Rectilíneo</a></li>
                    <li><a href="aplications_4_2.html">4.2 Razones de Cambio Relacionadas</a></li>
                    <li><a href="aplications_4_3.html">4.3 Extremos de Funciones</a></li>
                    <li><a href="aplications_4_4.html">4.4 Teorema del Valor Medio</a></li>
                    <li><a href="aplications_4_5.html">4.5 Regla de L´Hopital</a></li>
                    <li><a href="aplications_4_6.html">4.6 Gráficas y la Primera Derivada</a></li>
                    <li><a href="aplications_4_7.html">4.7 Gráficas y la Segunda Derivada</a></li>
                    <li><a href="aplications_4_8.html">4.8 Optimización</a></li>
                    <li><a href="aplications_4_9.html">4.9 Linealización y Diferenciales</a></li>
                    <li><a href="aplications_4_10.html">4.10 Método de Newton</a></li>
                </ul>
            </li>
            <li><a href="">Ayuda <i class="fas fa-chevron-down"></i> </i></a>
                <ul class="submenu">
                    <li><a href="../../tools.html">Herramientas <i class="fas fa-tools"></i></a></li>
                    <li><a href="../../help.html">¿Cómo Usar el Sitio Web? <i class="fas fa-question-circle"></i></a></li>
                </ul>
            </li>
            <li><a href="../../about_us.html">Sobre Nosotros <i class="fas fa-users"></i></a></li>
        </ul>
    </div>  
    <div class="container_menu_lateral">
        <div class="menuLateral">
            <h1 class="titleL">Límites</h1>
                <a href="limits_2_1.html">2.1 Límite Enfoque Informal</a>
                <a href="limits_2_2.html">2.2 Teoremas Sobre Límites</a>
                <a href="#">2.3 Continuidad</a>
                <a href="limits_2_4.html">2.4 Límites Trigonométricos</a>
                <a href="limits_2_5.html">2.5 Límites con Infinito</a>
                <a href="limits_2_6.html">2.6 Límites Enfoque Formal</a>
                <a href="limits_2_7.html">2.7 La Recta Tangente</a>
        </div>
        <div class="btn_previous">
            <a href="limits_2_2.html"><i class="fas fa-chevron-left"></i>   Anterior </a>
        </div>
        <div class="btn_next">
            <a href="limits_2_4.html"> Siguiente  <i class="fas fa-chevron-right"></i> </a>
        </div>        
        <div class="btn_ejemplos">
            <a href="practice/ejercicios2_3.html" target="_blank">Ejemplos  <i class="fas fa-calculator"></i></a>
        </div>
    </div>
        <div class="contenidoLimites">
            <h1>2.3 Continuidad </h1>
            <h2>Continuidad en un número</h2>
            <p class="txtInfo">
                Una función es continua en un número <b>a</b> cuando se cumpla lo siguiente:
            </p>
            <img src="../imgs/imgs_info/2.3.1.png"  alt="" width="20%">
            <img src="../imgs/imgs_info/2.3.2.png"  alt="" width="20%">
            <img src="../imgs/imgs_info/2.3.3.png"  alt="" width="20%">
            <p class="txtInfo">
                Si alguna de las condiciones anteriores no se cumple, entonces decimos que la función presentada es descontinua.
            </p> <br>
            <h2>Continuidad sobre un intervalo</h2>
            <p class="txtInfo">
                Una función f es continua: 
            </p>
            <p class="txtInfo">
                <i class="fas fa-circle bulletPoint"></i> i) Sobre un intervalo abierto (a, b) si es continua en todo número en el intervalo; <br><br> y <br> <br>
                <i class="fas fa-circle bulletPoint"></i> ii) Sobre un intervalo cerrado [a, b] si es continua en (a, b) y, además,
            </p>
            <img src="../imgs/imgs_info/2.3.4.png"  alt="" width="20%">
            <img src="../imgs/imgs_info/2.3.5.png"  alt="" width="20%">
            <p class="txtInfo">
                Si se cumple la primera condición se dice que <b>f</b> es continua en la derecha <b>a</b>, entonces <b>f</b> es continua por la izquierda en <b>b</b> <br> .
            </p>
            <h2>Continuidad de una suma, producto y cociente</h2>
            <p class="txtInfo">
                Cuando dos funciones <b>f</b> y <b>g</b> son continuas en un número <b>a</b>, entonces la combinación de las funciones formadas por suma, multiplicación y división también es continua en <b>a</b>. En el caso de la división <b>f/g</b> es necesario, por supuesto, requerir que <b>g(a) ≠ 0</b>.
            </p>
            <img src="../imgs/imgs_info/teorema2.3.1.png"  alt="" class="imgs_txt">
            <h2>Continuidad f<sup>-1</sup></h2>
            <p class="txtInfo">
                Para que el siguiente teorema se indica que la gráfica de la función inversa <b>f <sup>-1</sup></b> se considera de la gráfica de <b>f</b> en la recta y = x
            </p>
            <img src="../imgs/imgs_info/teorema2.3.2.png"  alt="" class="imgs_txt"> <br>
            <h2>Límite de una función compuesta</h2>
            <p class="txtInfo">
                Se establece que si una función es continua, entonces el límite de esa función es la función del límite.
            </p>
            <img src="../imgs/imgs_info/teorema2.3.3.png"  alt="" class="imgs_txt">
            <p class="txtInfo">
                Si la función <b>g</b> es continua en <b>a</b> y <b>f</b> es continua en <b>g(a)</b>, entonces vemos:
            </p>
            <img src="../imgs/imgs_info/2.3.6.png"  alt="" width="50%">
            <p class="txtInfo">
                Esto significa que la composición de dos funciones continuas es continua.
            </p>
            <img src="../imgs/imgs_info/teorema2.3.4.png"  alt="Teorema 2.3.4" class="imgs_txt">
            <p class="txtInfo">
                Una función continua <b>f</b> es aquella que no omite ningún valor.
            </p>
            <img src="../imgs/imgs_info/teorema2.3.5.png"  alt="" class="imgs_txt"> <br>
            <h2>Método de bisección.</h2>
            <p class="txtInfo">
               El método de bisección es el procedimiento de aproximar un cero de una función continua haciendo uso de una sucesión de puntos medios.
            </p>
        </div>    

</body>

</html>