<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo I - Límites</title>
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../imgs/calculo.ico" type="image/x-icon">
</head>

<body>
    <div class="menu">
        <a href="https://es.wikipedia.org/wiki/C%C3%A1lculo" id="calculo" target="_blank">Cálculo I</a>
        <ul>
            <li><a href="../../index.html">Inicio <i class="fas fa-home"></i></a></li>
            <li><a href="limits_2_1.html">2. Límite <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="limits_2_1.html">2.1 Límite Enfoque Informal</a></li>
                    <li><a href="#">2.2 Teoremas Sobre Límites</a></li>
                    <li><a href="limits_2_3.html">2.3 Continuidad</a></li>
                    <li><a href="limits_2_4.html">2.4 Límites Trigonométricos</a></li>
                    <li><a href="limits_2_5.html">2.5 Límites con Infinito</a></li>
                    <li><a href="limits_2_6.html">2.6 Límites Enfoque Formal</a></li>
                    <li><a href="limits_2_7.html">2.7 La Recta Tangente</a></li>
                </ul>
            </li>
            <li><a href="derivaties_3_1.html">3. Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="derivaties_3_1.html">3.1 La Derivada</a></li>
                    <li><a href="derivaties_3_2.html">3.2 Reglas de Potencia y Suma</a></li>
                    <li><a href="derivaties_3_3.html">3.3 Reglas de Producto y Cociente</a></li>
                    <li><a href="derivaties_3_4.html">3.4 Funciones Trigonometricas</a></li>
                    <li><a href="derivaties_3_5.html">3.5 Regla de la Cadena</a></li>
                    <li><a href="derivaties_3_6.html">3.6 Diferencia Implícita</a></li>
                </ul>
            </li>
            <li><a href="aplications_4_1.html">4. Aplicaciones de la Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="aplications_4_1.html">4.1 Movimiento Rectilíneo</a></li>
                    <li><a href="aplications_4_2.html">4.2 Razones de Cambio Relacionadas</a></li>
                    <li><a href="aplications_4_3.html">4.3 Extremos de Funciones</a></li>
                    <li><a href="aplications_4_4.html">4.4 Teorema del Valor Medio</a></li>
                    <li><a href="aplications_4_5.html">4.5 Regla de L´Hopital</a></li>
                    <li><a href="aplications_4_6.html">4.6 Gráficas y la Primera Derivada</a></li>
                    <li><a href="aplications_4_7.html">4.7 Gráficas y la Segunda Derivada</a></li>
                    <li><a href="aplications_4_8.html">4.8 Optimización</a></li>
                    <li><a href="aplications_4_9.html">4.9 Linealización y Diferenciales</a></li>
                    <li><a href="aplications_4_10.html">4.10 Método de Newton</a></li>
                </ul>
            </li>
            <li><a href="">Ayuda <i class="fas fa-chevron-down"></i> </i></a>
                <ul class="submenu">
                    <li><a href="../../tools.html">Herramientas <i class="fas fa-tools"></i></a></li>
                    <li><a href="../../help.html">¿Cómo Usar el Sitio Web? <i class="fas fa-question-circle"></i></a></li>
                </ul>
            </li>
            <li><a href="../../about_us.html">Sobre Nosotros <i class="fas fa-users"></i></a></li>
        </ul>
    </div>
    <div class="container_menu_lateral">
        <div class="menuLateral">
            <h1 class="titleL">Límites</h1>
            <a href="limits_2_1.html">2.1 Límite Enfoque Informal</a>
            <a href="#">2.2 Teoremas Sobre Límites</a>
            <a href="limits_2_3.html">2.3 Continuidad</a>
            <a href="limits_2_4.html">2.4 Límites Trigonométricos</a>
            <a href="limits_2_5.html">2.5 Límites con Infinito</a>
            <a href="limits_2_6.html">2.6 Límites Enfoque Formal</a>
            <a href="limits_2_7.html">2.7 La Recta Tangente</a>
        </div>
        <div class="btn_previous">
            <a href="limits_2_1.html"><i class="fas fa-chevron-left"></i>   Anterior </a>
        </div>
        <div class="btn_next">
            <a href="limits_2_3.html"> Siguiente  <i class="fas fa-chevron-right"></i> </a>
        </div>
        <div class="btn_ejemplos">
            <a href="practice/ejercicios2_2.html" target="_blank">Ejemplos  <i class="fas fa-calculator"></i></a>
        </div>
    </div>

    <div class="contenidoLimites">
        <h1>2.2 Teoremas Sobre Límites </h1>
        <h2 class="subtitleInfo">Teorema 2.2.1: </h2>
        <p class="txtInfo">Es fundamental tener en cuenta que: El límite de una constante <b>(c)</b> cuando x tiende a a es igual a la constante <b>(a)</b> y, El límite de <b>X</b> cuando <b>X</b> tiende a <b>a</b> es <b>a</b>.
        </p>
        <img src="../imgs/imgs_info/teorema2.2.1" alt="Teorema 2.2.1" class="imgs_info">
        <h2 class="subtitleInfo">Teorema 2.2.2: </h2>
        <p class="txtInfo">
            Límite de una función multiplicada por una constante, se basa en que: El límite de una constante por una función <b>f</b> es la constante por el límite de <b>f</b> cuando <b>X</b> tiende a un número <b>a</b>
        </p>
        <img src="../imgs/imgs_info/teorema2.2.2" alt="Teorema 2.2.2" class="imgs_info">
        <h2 class="subtitleInfo">Teorema 2.2.3: </h2>
        <p class="txtInfo">
            veremos tres tipos de operaciones de con límites , las cuales son: <b>Suma, producto y cociente</b>. Para lo cual debemos de tener en cuenta si en dado caso ambos límites existen lo siguiente: <br>
            <i class="fas fa-circle bulletPoint"></i> i) El límite de una suma es la suma de los límites. <br>
            <i class="fas fa-circle bulletPoint"></i> ii) El límite de un producto es el producto de los límites. <br>
            <i class="fas fa-circle bulletPoint"></i> iii) El límite de un cociente es el cociente de los límites, teniendo en cuenta que el denominador no sea cero. <br>
        </p>
        <img src="../imgs/imgs_info/teorema2.2.3" alt="Teorema 2.2.3" class="imgs_info">
        <h2 class="subtitleInfo">Teorema 2.2.4: </h2>
        <p class="txtInfo">
            Límite de una potencia, podemos usar la misma manera de resolver límites como en el teorema 2.2.3 el cual dice: El límite de un producto es el producto de los límites, basándonos en el caso general en que <b>f(x)</b> es un factor <b>n</b>            veces.
        </p>
        <img src="../imgs/imgs_info/teorema2.2.4" alt="Teorema 2.2.4" class="imgs_info">
        <p class="txtInfo">
            <b>En caso de que</b> sea de la siguiente manera:
        </p>
        <img src="../imgs/imgs_info/2.2.1.png" alt="" class="imgs_info">
        <p class="txtInfo">
            El resultado según el teorema 2.2.4 nos dejaría como resultado lo siguiente:
        </p>
        <img src="../imgs/imgs_info/2.2.2.png" alt="" class="imgs_info">
        <h2 class="subtitleInfo">Teorema 2.2.5: </h2>
        <p class="txtInfo">
            Límite que no existe, algunas veces es posible determinar a primera vista cuando no existe un límite, basándonos en el <b>Teorema 2.2.3 (iii)</b> El límite de un cociente es el cociente de los límites en el cual se detalla que esta forma no
            se puede determinar: <b>0/0</b>
        </p>
        <img src="../imgs/imgs_info/teorema2.2.5" alt="Teorema 2.2.5" class="imgs_info">
        <h2 class="subtitleInfo">Teorema 2.2.6: </h2>
        <p class="txtInfo">
            Límite de una raíz, El límite de la raíz n-ésima de una función es la raíz n-ésima del límite siempre que el límite exista y tenga una raíz n-ésima real.
        </p>
        <img src="../imgs/imgs_info/teorema2.2.6" alt="Teorema 2.2.6" class="imgs_info">
        <p class="txtInfo">
            Un caso especial aplica en lo siguiente:
        </p>
        <img src="../imgs/imgs_info/2.2.3.png" alt="" class="imgs_info">
        <p class="txtInfo">
            En el supuesto que a > = 0 cuando <b>n es par</b>
        </p>
        <h2 class="subtitleInfo">Teorema 2.2.7: </h2>
        <p class="txtInfo">
            Existencia implícita unicidad, En caso de si puede haber más de un límite de una función <b>(x)</b> cuando <b>x -> a</b>
        </p>
        <img src="../imgs/imgs_info/teorema2.2.7" alt="Teorema 2.2.7" class="imgs_info">
    </div>

</body>

</html>