<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo I - Límites</title>
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../imgs/calculo.ico" type="image/x-icon">
</head>

<body>
    <div class="menu">
        <a href="https://es.wikipedia.org/wiki/C%C3%A1lculo" id="calculo" target="_blank">Cálculo I</a>
        <ul>
            <li><a href="../../index.html">Inicio <i class="fas fa-home"></i></a></li>
            <li><a href="#">2. Límite <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="#">2.1 Límite Enfoque Informal</a></li>
                    <li><a href="limits_2_2.html">2.2 Teoremas Sobre Límites</a></li>
                    <li><a href="limits_2_3.html">2.3 Continuidad</a></li>
                    <li><a href="limits_2_4.html">2.4 Límites Trigonométricos</a></li>
                    <li><a href="limits_2_5.html">2.5 Límites con Infinito</a></li>
                    <li><a href="limits_2_6.html">2.6 Límites Enfoque Formal</a></li>
                    <li><a href="limits_2_7.html">2.7 La Recta Tangente</a></li>
                </ul>
            </li>
            <li><a href="derivaties_3_1.html">3. Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="derivaties_3_1.html">3.1 La Derivada</a></li>
                    <li><a href="derivaties_3_2.html">3.2 Reglas de Potencia y Suma</a></li>
                    <li><a href="derivaties_3_3.html">3.3 Reglas de Producto y Cociente</a></li>
                    <li><a href="derivaties_3_4.html">3.4 Funciones Trigonometricas</a></li>
                    <li><a href="derivaties_3_5.html">3.5 Regla de la Cadena</a></li>
                    <li><a href="derivaties_3_6.html">3.6 Diferencia Implícita</a></li>
                    <li><a href="derivaties_3_7.html">3.7 Derivadas de Función Inversas</a></li>
                    <li><a href="derivaties_3_8.html">3.8 Funciones Exponenciales</a></li>
                    <li><a href="derivaties_3_9.html">3.9 Funciones Logaritmicas</a></li>
                    <li><a href="derivaties_3_10.html">3.10  Funciones Hiperbólicas</a></li>
                </ul>
            </li>
            <li><a href="aplications_4_1.html">4. Aplicaciones de la Derivada <i class="fas fa-chevron-down"></i> </a>
                <ul class="submenu">
                    <li><a href="aplications_4_1.html">4.1 Movimiento Rectilíneo</a></li>
                    <li><a href="aplications_4_2.html">4.2 Razones de Cambio Relacionadas</a></li>
                    <li><a href="aplications_4_3.html">4.3 Extremos de Funciones</a></li>
                    <li><a href="aplications_4_4.html">4.4 Teorema del Valor Medio</a></li>
                    <li><a href="aplications_4_5.html">4.5 Regla de L´Hopital</a></li>
                    <li><a href="aplications_4_6.html">4.6 Gráficas y la Primera Derivada</a></li>
                    <li><a href="aplications_4_7.html">4.7 Gráficas y la Segunda Derivada</a></li>
                    <li><a href="aplications_4_8.html">4.8 Optimización</a></li>
                    <li><a href="aplications_4_9.html">4.9 Linealización y Diferenciales</a></li>
                    <li><a href="aplications_4_10.html">4.10 Método de Newton</a></li>
                </ul>
            </li>
            <li><a href="">Ayuda <i class="fas fa-chevron-down"></i> </i></a>
                <ul class="submenu">
                    <li><a href="../../tools.html">Herramientas <i class="fas fa-tools"></i></a></li>
                    <li><a href="../../help.html">¿Cómo Usar el Sitio Web? <i class="fas fa-question-circle"></i></a></li>
                </ul>
            </li>
            <li><a href="../../about_us.html">Sobre Nosotros <i class="fas fa-users"></i></a></li>
        </ul>
    </div>
    <div class="container_menu_lateral">
        <div class="menuLateral">
            <h1 class="titleL">Límites</h1>
            <a href="#">2.1 Límite Enfoque Informal</a>
            <a href="limits_2_2.html">2.2 Teoremas Sobre Límites</a>
            <a href="limits_2_3.html">2.3 Continuidad</a>
            <a href="limits_2_4.html">2.4 Límites Trigonométricos</a>
            <a href="limits_2_5.html">2.5 Límites con Infinito</a>
            <a href="limits_2_6.html">2.6 Límites Enfoque Formal</a>
            <a href="limits_2_7.html">2.7 La Recta Tangente</a>
        </div>
        <!-- Botones -->
        <div class="btn_previous">
            <a href="../../index.html"><i class="fas fa-home"></i>  Inicio</a>
        </div>
        <div class="btn_next">
            <a href="limits_2_2.html"> Siguiente  <i class="fas fa-chevron-right"></i> </a>
        </div>
        <div class="btn_ejemplos">
            <a href="practice/ejercicios2_1.html" target="_blank">Ejemplos  <i class="fas fa-calculator"></i></a>
        </div>
    </div>
    
        <div class="contenidoLimites">
            <h1>2.1 Límites Enfoque Informal</h1>            
                <p class="txtInfo">
                    Este enfoque es intuitivo, centrado a lo que es un límite mediante el uso de ejemplos numéricos y gráficos, a continuación  el enfoque será analítico utilizando métodos algebraicos para calcular el valor del límite de una función. 
                <br><b>Considerando la función:</b> </p> 
                <img src="../imgs/imgs_info/2.1.1.png" width="16%" >
            <p class="txtInfo">En este límite no se puede evaluar el número real -4 por que al sustituirlo por x se obtiene una cantidad indefinida 0/0,<b> f(x)</b> puede calcularse en cualquier número x que este muy próximo a -4. <br> Ejemplo: </p>
                <img src="../imgs/imgs_info/2.1.2.png" width="60%"">
            <p class="txtInfo">Nos indican que cuando x tiende a  -4 de lado izquierdo o derecho parece que la función <b>f(x)</b>  tienden a 8; cuando x está próxima a -4, <b>f(x)</b> está cerca de 8. Todo número x ≠ -4 se puede simplificar la función f por cancelación. </p>
                <img src="../imgs/imgs_info/2.1.3.png" class="imgs_info" width="50%">
            <p class="txtInfo">La gráfica de y = 4 – x exceptuando de que la gráfica <b>f</b> tiene un hueco en donde corresponde a x = - 4 teniendo a x suficientemente cerca de – 4.</p> <br>

            <h2>Definición Formal</h2>
            <p class="txtInfo">Suponiendo que N es como un número infinito. Con el concepto de <b>f(x)</b> que tiende a L a medida a que x a un número a se define de esta manera. <br><br>
                Si <b>f(x)</b> puede hacerse arbitrariamente próximo al número L al tomar <b>x</b> suficientemente cerca de, pero diferente de un número a, por la izquierda y por la derecha de <b>a</b>,  entonces el límite de <b>f(x)</b> cuando x tiende a (a) es L. <br><br>
                <b>Notación</b>  El símbolo de flecha <i class="fas fa-arrow-right"></i> hace representación a la palabra <b>tiende</b>, el simbolismo es:
                </p><br> 
                <p class="">
                    <i class="fas fa-circle bulletPoint"></i> <b>X <i class="fas fa-arrow-right"></i> a<sup>-</sup></b> : Indica que <b>X</b> tiende el número <b>(a)</b> por la <b>Izquierda</b>. <br>
                    <i class="fas fa-circle bulletPoint"></i> <b>X <i class="fas fa-arrow-right"></i> a<sup>+</sup></b> : Indica que <b>X</b> tiende el número <b>(a)</b> por la <b>Derecha</b>. <br>
                    <i class="fas fa-circle bulletPoint"></i> <b>X <i class="fas fa-arrow-right"></i> a</b> : Indica que <b>X</b> tiende de a <b>(a)</b> desde <b>Ambos Lados</b>. <br>
                </p><br><br>
            <h2>Límites Laterales</h2>
                <p class="txtInfo">Una función <b>(x)</b> puede hacerse de manera arbitraria a un número <b>L<sup>1</sup></b> tomando a <b>x</b> suficientemente cerca, sin ser igual a un número <b>(a)</b> de manera izquierda.</p>
                <img src="../imgs/imgs_info/2.1.4.png" width="50%" class="">
                    <p class="txtInfo">
                        De igual manera a la derecha consigno positivo. <br>
                        <b>Existencia o no existencia </b> Los limites por dos lados o uno no existe pero no debemos de olvidar lo siguiente:<br>
                        La existencia de un límite de una función <b>f</b> cuando <b>x</b> tiende a <b>(a)</b> (desde un lado o desde ambos lados) no depende de si <b>f</b> está definida en a, sino sólo de si está definida para <b>x</b> cerca del número <b>a</b>.
                    </p>
        </div>    
 


</body>

</html>