/* Fuente: Quicksand regular y bold */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

/* Variables Globales */

:root {
    --colorPrincipal: #A32026;
    --colorBoton: #34B2D2;
    --bacground: #FFFFFF;
    --Sombras: 0px 7px 5px rgba(0, 0, 0, .5);
    --animacion-botones: rotate(0deg) skew(0deg) translate(0, -10px);
    --animacion-botones-responsive: rotate(0deg) skew(0deg) translate(0, -5px);
}


/*Reseteo de estilos*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    user-select: none;
}


/******/

.menu {
    display: flex;
    color: white;
    background: var(--colorPrincipal);
    width: 100%;
    height: 10vh;
    align-items: center;
    position: fixed;
    z-index: 1;
    box-shadow: var(--Sombras);
    border-radius: 0 0 30px 30px;
    /* justify-content: center; */
}

#calculo {
    margin: 0 5em 0 2em;
    font-size: 2rem;
}

.menu a {
    margin: 0 20px 0 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    display: flex;
}

.submenu {
    flex-direction: column;
    display: none;
    position: absolute;
    min-width: auto;
    background: var(--colorPrincipal);
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: var(--Sombras);
    /* margin-top: 5px; */
}

.container_menu_responsive {
    width: 100%;
    display: hide;
}

.btn_menu {
    display: none;
    top: 12px;
    right: 30px;
}

ul li:hover>ul {
    display: flex;
}

body {
    background-image: url('../imgs/prueba4.jpg');
}

.contenidoPrincipal {
    display: flex;
    width: auto;
    height: 100VH;
    align-items: center;
    justify-content: center;
}

.subContenidoPrincipal {
    display: flex;
    width: 80VW;
    height: 40vh;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2% 0 2%;
    text-align: center;
    box-shadow: var(--Sombras);
    position: relative;
}

.subContenidoPrincipal::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 90%;
    border-radius: 50px;
}

.subContenidoPrincipal h1 {
    position: relative;
}

.botonInicio {
    background: var(--colorBoton);
    color: #ffffff;
    padding: 30px 20%;
    border-radius: 50px;
    font-size: 3vh;
    box-shadow: var(--Sombras);
    transition: .3S;
    position: relative;
}

.botonInicio:hover {
    transform: var(--animacion-botones);
}

.info_index {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 5vh;
    /* padding: 2vh 0 0 0; */
    background-color: var(--colorPrincipal);
    color: #ffffff;
}

.info_index a {
    color: var(--colorBoton);
}

#calculo_1 {
    display: none;
}


/* .Limits{
    display: flex;
    width: 80vw;
    height: 80%;
    border: 1px solid black;
} */

.menuLateral {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    background: var(--colorPrincipal);
    padding: 20px;
    border-radius: 30px;
    color: white;
    margin: 15vh 0 0 .5%;
    position: fixed;
    box-shadow: var(--Sombras);
}

.menuLateral h1 {
    font-size: 6vh;
    text-align: center;
}


/* Botones de Límites */

.btn_previous,
.btn_next,
.btn_ejemplos {
    background: var(--colorBoton);
    color: #FFFFFF;
    position: fixed;
    text-align: center;
    box-shadow: var(--Sombras);
    transition: .5s all;
    border-radius: 20px;
    cursor: pointer;
    font-size: 3vh;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.btn_previous {
    margin: 85vh 0 0 .5%;
    width: 9%;
    /*padding: 20px;*/
}

.btn_next {
    margin: 85vh 0 0 11%;
    width: 9%;
    /*padding: 20px;*/
}

.btn_ejemplos {
    margin: 75vh 0 0 .5%;
    /*padding: 20px;*/
    width: 20%;
}

.btn_previous:hover,
.btn_next:hover,
.btn_ejemplos:hover {
    transform: var(--animacion-botones);
}

.btn_previous-responsive,
.btn_next-responsive,
.btn_ejemplos-responsive {
    display: none;
}


/*****************/

.contenidoLimites {
    position: absolute;
    width: 75%;
    height: auto;
    top: 15vh;
    right: 2vw;
    border-radius: 20px;
    background: var(--bacground);
    z-index: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--Sombras);
}

.contenidoLimites h1 {
    text-align: center;
}

.imgs_info {
    align-content: center;
    border-radius: 15px;
    width: 40%;
}

.imgs_grafic {
    align-content: center;
    border-radius: 15px;
    width: 20%;
}

.imgs_txt {
    width: 15%;
}

.txtInfo {
    font-size: 2.5vh;
    text-align: justify;
    padding: 1vh 2vh;
}

.subtitleInfo {
    text-align: left;
}

.bulletPoint {
    font-size: 1.5vh;
    color: var(--colorPrincipal);
}


/* Apartado de Ejemplos */

.encabezado {
    display: flex;
    width: 100%;
    height: 8vh;
    background: var(--colorPrincipal);
    color: #ffffff;
    align-items: center;
    justify-content: center;
}

.container_imgs_exercise {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 2% 0 0 5%;
}

.imgs_exercise {
    width: 50%;
    height: auto;
    border-radius: 20px;
    box-shadow: var(--Sombras);
}


/* --- Apartado de SobreNosotros --- */

.container_about_us {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.txt_services,
.descripcion_aboutUs,
.txt_integrantes {
    text-align: center;
    background: var(--colorPrincipal);
    border-radius: 20px;
    box-shadow: var(--Sombras);
    color: #ffffff;
}

.txt_services {
    width: 40%;
    margin: 15% 0 0 30%;
    padding: 15px;
}

.descripcion_aboutUs {
    width: 80%;
    margin: 3% 0 05% 10%;
    padding: 10px;
    text-align: justify;
    font-size: 2.5vh;
}

.txt_integrantes {
    width: 40%;
    margin: 8% 0 0% 30%;
    padding: 10px;
}

.first_line_cc,
.second_line_cc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35%;
    margin-bottom: 3%;
}

.card {
    width: 25%;
    height: 90%;
    background: #FFFFFF;
    box-shadow: var(--Sombras);
    border-radius: 20px;
    transition: all .5s ease-in-out;
    overflow: hidden;
    filter: grayscale(100%);
}

.img_card {
    border-radius: 0px;
    width: 60%;
    height: 100%;
    transform: translate(33%);
}

.txt_card,
.info {
    color: #FFFFFF;
    font-size: 2.5vh;
}

.info {
    position: absolute;
    z-index: 1;
    opacity: 0;
    bottom: 150%;
    height: 35%;
    width: 100%;
    background: var(--colorPrincipal);
    padding: 1vh 6vh;
}

.card:hover {
    cursor: pointer;
    transform: var(--animacion-botones);
    filter: grayscale(0%);
}

.card:hover .info {
    transition: ease .5s;
    opacity: .90;
    bottom: 0%;
    filter: grayscale(0%);
}


/* --- Apartado de Ayuda --- */

.title_help {
    display: flex;
    position: fixed;
    width: 50%;
    height: 10%;
    margin: 7% 0 10% 25%;
    background: var(--colorPrincipal);
    border-radius: 20px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cards_help {
    display: flex;
    height: 70vh;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    position: fixed;
    margin-top: 15%;
}

.view_more {
    position: absolute;
    z-index: 1;
    opacity: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: var(--colorPrincipal);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_ayuda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 80%;
    background: var(--colorPrincipal);
    flex-direction: column;
    box-shadow: var(--Sombras);
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 2.5vw;
    overflow: hidden;
}

.card_ayuda:hover {
    cursor: pointer;
    transform: var(--animacion-botones);
    transition: .77s all;
}

.card_ayuda:hover .view_more {
    transition: ease .5s;
    opacity: .80;
    bottom: 0%;
    padding: 15vh;
}

.img_port {
    border-radius: 20px;
    width: 80%;
    height: 80%;
}

.video {
    width: 70%;
    height: 65%;
    position: fixed;
    margin: 15% 0 0 15%;
    box-shadow: var(--Sombras);
    border-radius: 20px;
}


/********************************
**********RESPONSIVE*************
********************************/

@media (max-width: 1250px) {
    .menu {
        font-size: 2vh;
    }
    #calculo {
        margin: 0 3em 0 2em;
    }
}

@media (max-width: 1130px) {
    #calculo {
        margin: 0 1em 0 2em;
        font-size: 2em;
    }
}

@media (max-width: 980px) {
    .menu {
        left: -100%;
        transition: 1s;
        width: 45%;
        height: all;
        flex-direction: column;
        border-radius: 0;
        position: fixed;
        top: 0;
    }
    #calculo {
        padding: 0;
        margin: 10px 0 30px 0;
        color: #ffffff;
    }
    #calculo_1 {
        font-size: 4vh;
        display: inline;
        color: #ffffff;
        margin: 10px 0 30px 10px;
    }
    .menu a {
        margin: 10px 0 0 15px;
        padding: 0px;
        /* display: block; */
    }
    .menu ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    ul {
        flex-direction: column;
    }
    .submenu {
        top: 2vh;
        left: 15vh;
        position: static;
        box-shadow: none;
    }
    .menu-responsive {
        width: 45%;
        height: 110%;
        left: 0;
        position: fixed;
        background: var(--colorPrincipal);
        z-index: 1;
        color: white;
        z-index: 2;
        border-radius: 20px 0 20px 0;
        top: 0;
        transition: 1s all ease;
    }
    .container_menu_responsive {
        top: 0;
        width: 100%;
        height: 60px;
        background: var(--colorPrincipal);
        position: fixed;
        z-index: 1;
        padding: 10px;
        box-shadow: var(--Sombras);
        border-radius: 0 0 20px 20px;
    }
    .btn_menu {
        display: inline;
    }
    /*------Hamburguer Menu-------*/
    #hamburguer_menu {
        width: 24px;
        height: 18px;
        position: fixed;
        cursor: pointer;
        top: 20px;
        right: 20px;
        color: white;
    }
    #hamburguer_menu span {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        opacity: 1;
        background: #ffffff;
        border-radius: 2px;
        pointer-events: none;
        transform: rotate(0deg);
        transition: .2s ease;
    }
    #hamburguer_menu span:nth-child(1) {
        top: 0px;
    }
    #hamburguer_menu span:nth-child(2),
    #hamburguer_menu span:nth-child(3) {
        top: 50%;
    }
    #hamburguer_menu span:nth-child(4) {
        top: 100%;
    }
    #hamburguer_menu.open span:nth-child(1),
    #hamburguer_menu.open span:nth-child(4) {
        top: 50%;
        width: 0%;
        left: 50%;
    }
    #hamburguer_menu.open span:nth-child(2) {
        transform: rotate(45deg);
    }
    #hamburguer_menu.open span:nth-child(3) {
        transform: rotate(-45deg);
    }
    .subContenidoPrincipal {
        height: 70%;
        position: relative;
    }
    .menuLateral {
        display: none;
    }
    .contenidoLimites {
        width: 90%;
        left: 5%;
        top: 20vw;
        position: relative;
    }
    .btn_previous,
    .btn_next,
    .btn_ejemplos {
        display: none;
    }
    .butons-responsive {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
    .btn_previous-responsive,
    .btn_next-responsive,
    .btn_ejemplos-responsive {
        display: inline;
        text-align: center;
        background: var(--colorBoton);
        width: 90%;
        height: 40%;
        border-radius: 20px;
        padding: 5% 25%;
        margin: 5px;
        color: white;
        box-shadow: var(--Sombras);
    }
    .btn_previous-responsive:hover,
    .btn_next-responsive:hover,
    .btn_ejemplos-responsive:hover {
        transform: var(--animacion-botones-responsive);
    }
    /*SOBRE NOSOTROS*/
    .txt_services,
    .txt_integrantes {
        width: 90%;
        margin: 20% 0 0 5%;
    }
    .descripcion_aboutUs {
        width: 90%;
        margin: 5% 0 0 5%;
    }
    .first_line_cc,
    .second_line_cc {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
    }
    .card {
        width: 70%;
        height: 100%;
        margin: 5% 0 0 0;
    }
    .txt_card,
    .info {
        font-size: 2vh;
    }
    /*¿COMO USAR EL SITIO WEB?*/
    .title_help {
        position: initial;
        width: 90%;
        margin: 20% 0 0 5%;
        height: 30%;
        font-size: 2vh;
    }
    .cards_help {
        flex-direction: column;
        height: 80%;
        margin: 0;
        position: absolute;
        justify-content: center;
    }
    .card_ayuda {
        position: relative;
        width: 80%;
        height: 100%;
        margin: 5% 0 0 10%;
        padding: 0;
    }
}