/* Fuente: Quicksand regular y bold */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
/* Variables Globales */
:root{
    --colorPrincipal: #A32026;
    --colorBoton: #34B2D2;
    --bacground: #DDDDDD;
    --Sombras: 0px 7px 5px rgba(0,0,0,.5);
    --animacion-botones: rotate(0deg) skew(0deg) translate(0,-10px);

}
/*Reseteo de estilos*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    user-select: none;
}
/******/
.menu{
    display: flex;
    color: white;
    background: var(--colorPrincipal);
    width: 100%;
    height: 10vh;
    align-items: center;
    position: fixed;
    z-index: 1;
    box-shadow: var(--Sombras);
    /* justify-content: center; */
}
#calculo{
    margin: 0 5em 0 2em;
    font-size: 2rem;
}
.menu a{
    margin: 0 20px 0 10px;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    display: flex;
}
.submenu{
    flex-direction: column;
    display: none;
    position: absolute;
    min-width: auto;
    background: var(--colorPrincipal);
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: var(--Sombras);
    /* margin-top: 5px; */
}

ul li:hover > ul{
    display: flex;
}
body{
    background-image: url('../imgs/prueba4.jpg');

}

.contenidoPrincipal{
    display: flex;
    width: auto;
    height: 100VH;
    align-items: center;
    justify-content: center;
}

.subContenidoPrincipal{
    display: flex;
    width: 80VW;
    height: 40vh;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2% 0 2%;
    text-align: center;
    box-shadow: var(--Sombras);
    position: relative;
}

.subContenidoPrincipal::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 90%;
    border-radius: 50px;
}
.subContenidoPrincipal h1{
    position: relative;
}

.botonInicio{
    background: var(--colorBoton);
    color: #ffffff;
    padding: 30px 20%;
    border-radius: 50px;
    font-size: 3vh;
    box-shadow: var(--Sombras);
    transition: .3S;
    position: relative;
}

.botonInicio:hover{
    transform: var(--animacion-botones);
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 5vh;
    /* padding: 2vh 0 0 0; */
    background-color: var(--colorPrincipal);
    color: #ffffff;
}
.info a{
    color: var(--colorBoton);
}

/* .Limits{
    display: flex;
    width: 80vw;
    height: 80%;
    border: 1px solid black;
} */
.menuLateral{ 
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    background: var(--colorPrincipal);
    padding:20px;
    border-radius: 30px;
    color: white;
    margin: 15vh 0 0 .5%;
    position: fixed;
    box-shadow: var(--Sombras);
} 
.menuLateral h1{
    font-size: 6vh;
    text-align: center;
}

.contenidoLimites{
    position: absolute;
    width: 75%;
    height: 100%;
    top: 15vh;
    right: 2vw;
    border-radius: 20px;
    background: var(--bacground) ;
    z-index: 0;
    padding: 10px;
}

/* Apartado de Ejemplos */
.encabezado{
    display: flex;
    width: 100vw;
    height: 8vh;
    background: var(--colorPrincipal);
    color: #ffffff;
    align-items: center;
    justify-content: center;
}