<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplos 3.7</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/fontawesome/css/all.css">
    <link rel="shortcut icon" href="../../imgs/ejercicios.ico" type="image/x-icon">
</head>
<body>
    <div class="encabezado">
        <h1>Cálculo I - Ejemplos 3.7</h1>
    </div>
    <div class="container_imgs_exercise">
        <img src="../../imgs/imgs_exercises/3.7.1.jpeg" alt="Ejercicio 3.7.1" class="imgs_exercise"> <br>
        <img src="../../imgs/imgs_exercises/3.7.2.jpeg" alt="Ejercicio 3.7.2" class="imgs_exercise"> <br>
        <img src="../../imgs/imgs_exercises/3.7.3.jpeg" alt="Ejercicio 3.7.3" class="imgs_exercise"> <br>
    </div>
</body>
</html>