<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplos 2.6</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/fontawesome/css/all.css">
    <link rel="shortcut icon" href="../../imgs/ejercicios.ico" type="image/x-icon">
</head>
<body>
    <div class="encabezado">
        <h1>Cálculo I - Ejemplos 2.6</h1>
    </div>
    <div class="container_imgs_exercise">
        <img src="../../imgs/imgs_exercises/2.6.1.jpeg" alt="Ejercicio 2.6" class="imgs_exercise"> <br>
        <img src="../../imgs/imgs_exercises/2.6.2.jpeg" alt="Ejercicio 2.6" class="imgs_exercise"> <br>
        <img src="../../imgs/imgs_exercises/2.6.3.jpeg" alt="Ejercicio 2.6" class="imgs_exercise"> <br>
    </div>
</body>
</html>